html, body{
margin:0;
padding:0;
width:100%;
height:100%
}

#header{
width:100%;
margin:0;
color:white;
background:black;
height:9%;
}

#feature{
float:left;
height:86%;
margin:0 1% 0 1%;
width:17%;
}

#edit_suite{
width:96%;
padding:1%;
height:10%;
margin:1%;
text-align:center;
}

#edit_suite_btn{
}

#suite{
width:98%;
padding:1%;
height:86%;
background:#E3E3E3;
overflow:auto;
}

#testcase{
margin:0 1% 0 1%;
width:64%;
padding:1%;
height:86%;
background:#E3E3E3;
float:left;
overflow:auto;
}

h2{
margin:0%;
width:100%;
text-align:center;
background:black;
color:white;
/*
border-style:solid;
border-width:2px;
border-color:black;*/
}

.suite_list{
padding:2%;
font-weight: bold;
background:url(Unt.png);
margin:1%;
background-repeat: no-repeat;
background-size: auto;
z-index:20;
cursor:pointer;
}

.stat_list{
    background:#aaaaaa;
    cursor:pointer;
    margin: 2px;
    text-align:center;
    border-radius: 2px;
}
#load_message{
    display:none;
}
